@{
    ViewData["Title"] = "Главная";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<form asp-action="Main" method="post">
    <div class="MainImg">
          <img src="https://kartinkin.net/uploads/posts/2021-08/1629834094_11-kartinkin-com-p-blyuda-gordona-ramzi-yeda-krasivo-foto-12.jpg" height=600/>
    </div>
  
    <div class="new">
    <p class="e204_54">Вкусно / быстро</p>
    <p class="e204_58">“Знать о еде человек должен не меньше, чем о математике о своём родном языке”</p>
    <p class="e204_64">Гордон Рамзи, знаменитый британский шеф-повар</p>
    <button type="submit" class="e203_69">Перейти к источнику</button>
    </div>
    <div class="foot">

    </div>
</form>